<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	 class="h-100">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Boot</title>

<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}" />
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body class="h-100">

	<nav class="navbar navbar-expand navbar-dark bg-secondary d-flex justify-content-between">
		<a th:href="@{/}" class="navbar-brand"><i class="fa fa-home"></i> Home</a>
		
		<div class="navbar-nav">
			<a href="" class="nav-link" sec:authorize="isAnonymous() or hasRole('Student')"><i class="fa fa-send"></i> Apply</a>
			<a href="" class="nav-link" sec:authorize="hasRole('Admin')"><i class="fa fa-send"></i> Application</a>
			<a href="" class="nav-link" sec:authorize="hasRole('Admin')"><i class="fa fa-check"></i> Confirmation</a>
			<a href="" class="nav-link" sec:authorize="hasRole('Admin')"><i class="fa fa-cogs"></i> Setting</a>
			<a th:href="@{/sign-in}" class="nav-link" sec:authorize="isAnonymous()"><i class="fa fa-sign-in"></i> Sign in</a>
			<a th:href="@{/sign-up}" class="nav-link" sec:authorize="isAnonymous()"><i class="fa fa-user-plus"></i> Sign Up</a>
			<a href="#" id="logout-menu" class="nav-link" sec:authorize="isAuthenticated()"><i class="fa fa-sign-out"></i> Sign Out</a>
		</div>
	</nav>
	
	<section layout:fragment="content" class="container">
		<h1>Content</h1>
	</section>
	
	<form action="#" th:action="@{/logout}" id="logout-form" method="post" class="d-none"></form>
	<script th:src="@{/resources/js/common.js}"></script>


</body>
</html>